beautifulsoup4==4.10.0
dj-database-url==2.3.0
Django
django-cors-headers
django-sslserver==0.22
django_csp==3.8
djangorestframework==3.15.2
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.2.1
einops==0.8.0
empy==3.3.4
exceptiongroup==1.2.2
feedgenerator==2.1.0
filelock==3.16.1
flake8==4.0.1
fonttools==4.29.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.6.1
gast==0.5.2
ghp-import==2.1.0
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
httptools==0.6.1
hyperlink==21.0.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==2.0.1
matplotlib==3.5.1
python-dotenv==1.0.1
requests
sqlparse==0.5.3
ssh-import-id==5.11
virtualenv
websockets==13.1
whitenoise