<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Lavender</title>
        <link rel="icon" type="image/png" href="{% static 'ico/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
        <meta charset="UTF-8">
        <script src="{% static 'js/js.cookie.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.10/dist/purify.min.js"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/inbox.js'%}"></script>
    </head>

    <body>
        <div id="static-urls"
            data-user-profile-img="{% static 'img/default_user.png' %}"
            data-delete-img="{% static 'img/deleteUnhover.PNG' %}"
            data-deleted-img="{% static 'img/delete.PNG' %}"
            data-inbox-img-new="{% static 'img/inboxNew.PNG' %}"
            data-edit-img="{% static 'img/editUnhover.PNG' %}"
            data-edited-img="{% static 'img/edit.PNG' %}"
            data-share-img="{% static 'img/shareUnhover.PNG' %}"
            data-shared-img="{% static 'img/share.PNG' %}">
        </div>
        <header>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a id='profile'>Profile</a></li>
                    <li><a id='following'>Following</a></li>
                    <li id="inbox-button"><a>Inbox</a></li>
                </ul>
            </nav>
        </header>
        
        <div class = "profile-header">
            <div class="profile-container">
                <button id="edit-profile">Edit Profile</button>
                <h1 id="username"></h1>
                <div class="follows-container" id="follows-container">
                    <h3 id="follower-count" class="follow">0 Follower</h3>
                    <h3 id="following-count" class="follow">0 Following</h3>
                </div>
            </div>
            <img id="profile-avatar" class="avatar" src="{% static 'img/default_avatar.png' %}" alt="Avatar">
        </div>
        
        <main>
            <div class="post-header">
                <h3 id="post-header-content">Author's Posts</h3>
                <hr class="glass" width="100%" size="3" color="gray" >
            </div>

            <div class="posts" id="posts-container">
                <h3 id="no-posts-reminder">Loading...</h3>
                <div id="editPostModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Edit Post</h2>

                        <form id="edit-post-form" class="modal-body">
                            <label for="title">Title</label><br>
                            <input type="text" id="title" name="title" placeholder="title" minlength="1"><br><br>
                            <label for="description">Description</label><br>
                            <input type="text" id="description" placeholder="description" minlength="1"><br><br>
                            <label id="content-title" for="content">Content</label><br>
                            <textarea id="content" name="content" rows="8" cols="50" placeholder="This is the content of the post."></textarea><br><br>
                            <label id="image-title" for="image">image</label>
                            <img class="image" id="image" name="image" alt="Upload an Image"><br><br>
                            <input class="image-upload"type="file" id="image-upload" accept="image/*"><br><br>
                            <label for="content-type">Content type</label><br>
                            <select id="content-type" name="content-type">
                                <option value="text/plain">Plain text</option>
                                <option value="text/markdown">CommonMark</option>
                                <option value="image/png;base64">Image: png</option>
                                <option value="image/jpeg;base64">Image: jpeg</option>
                                <option value="application/base64">Image: other</option>
                            </select><br><br>
                            <label for="visibility">Visibility</label><br>
                            <select id="visibility" name="visibility-options">
                                <option value="PUBLIC">Public</option>
                                <option value="UNLISTED">Unlisted</option>
                                <option value="FRIENDS">Friends-only</option>
                            </select><br><br>

                            <button type="submit">Save Changes</button>
                        </form>

                    </div>
                </div>
            </div>

            <div id="inboxModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="close-inbox-modal">&times;</span>
                    <h3 id="inbox-title">Inbox</h3>
                    <ul id="inbox-list">
                    </ul>
                </div>
            </div>

        </main>
    </body>
</html>
